@media screen and (max-width: 600px){	
    body{	
    padding: 0;	
        }	
    header{	
    width: 100%;	
    height: 150px;	
    background-color: #05274b;	
    position: relative;	
    }	
    .foleys-name{	
    font-family: Hina Mincho, sans-serif;	
    }	
    hr{	
    width: 170px;	
    height: 2px;	
    color: white;	
    padding: 0;	
    margin: 0;	
    display: none;	
    }	
    .hero-section-inner hr{	
    width: 100%;	
    height: 5px;	
    background-color: white;	
    }	
    header h1{     	
    color: white;	
    font-size: 50px;	
    font-family: Hina Mincho, sans-serif;	
    text-align: center;	
    	
    }	
    header h2{	
    right: 2.5%;	
    color: white;	
    font-size: 15px;	
    text-align: center;	
    }	
    .hero-section-inner{	
    width: 100%;	
    height: 88px;	
    background-color: #757575;	
    position: relative;	
    }	
    .hero-section-inner h1{    	
    font-size: 39px;	
    color: white;	
    margin: 0;	
    text-align: center;	
    }	
    .hero-section-inner p{    	
    font-size: 15px;	
    color: white;	
    margin: 0 0 30px 0;	
    text-align: center;	
    }	
    .craft{	
    height: 150px;	
    width: 150px;	
    position: absolute;	
    top: 55px;	
    right: 5px;	
    }	
    .product-selectors{	
    width: 100%;	
    height: 1299px;	
    position: relative;	
    background-color: #05274b;	
    display: flex;	
    }	
    .div1{	
    background-color: #05274b;	
    top: -250px;	
    left: 2.5%;	
    }	
    .div2{	
    background-color: #05274b;	
    top: -250px;	
    left: 27.5%;	
    }	
    .div3{	
    	
    background-color: #05274b;	
    top: -250px;	
    right: 27.5%;	
    }	
    .div4{	
    background-color: #05274b;	
    top: -250px;	
    right: 2.5%;	
    }	
    .div1, .div2, .div3, .div4 {	
    width: 100%;	
    height: 300px;	
    /* position: absolute; */	
    z-index: 2;	
    }	
    .div1 h2, .div2 h2{	
    /* position: absolute; */	
    top: 314px;	
    left: 126px;	
    color: white;	
    font-size: 30px;	
    text-align: center;	
    margin: 0;	
    } 	
    .div3 h2, .div4 h2{	
    /* position: absolute; */	
    top: 314px;	
    right: 126px;	
    color: white;	
    font-size: 30px;	
    text-align: center;	
    margin: 0;	
    }	
    .inner-div{	
    width: 100%;	
    height: 85%;	
    background-color: white;	
    position: relative ;	
    }	
    .inner-div img{	
    width: 100%;	
    height: 100%;	
    }	
    .section1-inner {	
    width: 100%;	
    height: 1300px;	
    background-color: #251e19;	
    box-sizing: borderbox;	
    position: relative;	
    }	
    .our-products-heading{	
    font-size: 30px;	
    color: white;	
    text-align: center;	
    }	
    .section2{	
    width: 100%;	
    height: 620px;	
    position: relative;	
    /* background-color: rgb(2, 48, 2); */	
    display: flex;	
    }	
    .meat-image-outer{	
    width: 50%;	
    height: 800px;	
    text-align: center;	
    }	
    .meat-image{	
    width: 80%;	
    height: 200px;	
    position: absolute;	
    left: 7.5%;	
    top: 3.5%;	
    box-shadow: 15px 15px darkslategray;	
    	
    }	
    .meat-text-outer{	
    width: 100%;	
    height: 630px;	
    position: absolute;	
    left: -166px;	
    bottom: -86px;	
    }	
    .meat-heading-and-text{	
    position: absolute;	
    left: 250px;	
    top: 140px;	
    width: 50%;	
    height: auto;	
    	
    }	
    .meat-heading-and-text h1{	
    font-size: 40px;	
    color: white;	
    text-align: center;	
    }	
    .meat-heading-and-text p{	
    font-size: 18px;	
    color: white;	
    text-align: center;	
    }	
    #beef{	
    background-color: #05274b ;	
    }	
    #pork{	
    background-color: rgb(2, 48, 2);	
    }	
    #chicken{	
    background-color: white;	
    }	
    #chicken .meat-heading-and-text h1{	
    font-size: 40px;	
    color:#05274b ;	
    }	
    #chicken .meat-heading-and-text p{	
    font-size: 18px;	
    color: #05274b;	
    }	
    #lamb{	
    background-color: #757575;	
    }	
    .learn-more{	
    position: absolute;	
    bottom: 22px;	
    left: 30%;	
    }	
    .learn-more button{	
    font-size: 25px;	
    }	
    #chicken button{	
    background-color:#05274b ;	
    color: white;	
    }	
    #pork button{	
    background-color: #757575;	
  	
    }	
    #lamb button{	
    background-color: white;	
    color: #05274b;	
    }
}