@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans:wght@300&display=swap');

body{
    font-family: nunito-sans, sans-serif;
    font-weight: 300;
    color: black;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    border: none;
}

p{
    font-family:montserrat, sans-serif ;
}
/* header and links */
header{
    background-color: #fafafa;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 120%;    
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    border: none;
    color: black;
    
}
nav > ul > li{
    display: inline;   
    
}
nav{
    width: 100%;
}
nav a{
    list-style-type: none;
    color: inherit;
    text-decoration: none;
}
nav a:hover{
    background-color: black;
    color: #fafafa;
}
.active{
    border-bottom: 2px solid black;
}
header h1{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    letter-spacing: 2px;
}

#craft-1{
    float: right;
    right: 0px;  
}
#craft-2{
    float: left;
    left: 0px;  
}
#craft-1, #craft-2{
    margin: 0;
    padding: 0 ;
    border: none;
    width: 20%;
    height: 100px; 
    position: absolute;
}

/* hero image and surrounding images and covers*/
#hero{
    background: url(assets/images/meat\ cuts.jpeg) no-repeat center center;
    width: 100%;
    height: 600px;
    clear: both;
    border: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    
}
/* cover text and images*/

/* cover text heading */
#cover-text-heading{
    width: auto;
    height: auto;
    border-radius: 25px 0;
    top: 100px;
    left: 250px; 
    position: absolute; 
    border: 2px solid black;
    text-align: center;
    
    background-color: rgba(65, 64, 64, 0.8);
    color: #fafafa;
    z-index: 3; 
}
/*lamb*/
#cover-image-lamb{
    border-radius: 25px 0;       
    top: 750px;
    right: 50px;  
    background-repeat:no-repeat; 
    overflow: hidden;
    
}
#cover-image-lamb-cuts{
    border-radius: 25px 0;    
    background-repeat: no-repeat;  
    top: 750px;
    left: 50px;    
}
#cover-text-lamb{
    width: 800px;
    height: auto;
    border-radius: 25px 0;
    top: 840px;
    left: 250px;      
}
#lamb{
    text-align: center;
}
.lamb-hr-left{
    position: absolute;
    left: 150px;
}
.lamb-hr-right{
    position: absolute;
    right: 150px;
    top: 718px;
}
/* poultry */
#poultry-image{
    border-radius: 0 25px;
    background-repeat: no-repeat;
    top: 1050px;
    left: 50px;
    overflow: hidden;
}
#poultry-cuts{
    border-radius: 25px 0;    
    background-repeat: no-repeat;  
    top: 1100px;
    right: 50px;  
    position: absolute;  
}
#cover-text-poultry{
    width: 750px;
    height: auto;
    border-radius:0 25px ;
    top: 1130px;
    left: 480px;  
}
#poultry{
    text-align: center;
    position: absolute;
    top: 967px;
    left: 675px;
}
.poultry-hr-left{
    position: absolute;
    left: 150px;
    top: 1018px;
}
.poultry-hr-right{
    position: absolute;
    right: 150px;
    top: 1018px;
}
/*beef*/
#cover-image-beef{
    border-radius: 0 25px;   
    background: url(assets/images/cows.jpeg) no-repeat center center ;
    top: 1350px;
    right: 50px;    
}
#beef-cuts{
    border-radius: 25px 0;    
    background-repeat: no-repeat;  
    top: 1380px;
    left: 50px;  
    position: absolute;  
}
#cover-text-beef{
    width: 800px;
    height: auto;
    border-radius: 25px 0;
    top: 1450px;
    left: 250px;      
}
#beef{
    text-align: center;
    position: absolute;
    top: 1273px;
    left: 675px;
}
.beef-hr-left{
    position: absolute;
    left: 150px;
    top: 1325px;
}
.beef-hr-right{
    position: absolute;
    right: 150px;
    top: 1325px;
}
/* pork */
#pork-image{
    border-radius: 0 25px;
    background-repeat: no-repeat;
    top: 1650px;
    left: 50px;
    overflow: hidden;
}
#pork-cuts{
    border-radius: 25px 0;    
    background-repeat: no-repeat;  
    top: 1650px;
    right: 50px;  
    position: absolute;  
}
#cover-text-pork{
    width: 600px;
    height: auto;
    border-radius: 25px 0;
    top: 1750px;
    left: 400px;  
}
#pork{
    text-align: center;
    position: absolute;
    top: 1573px;
    left: 675px;
}
.pork-hr-left{
    position: absolute;
    left: 150px;
    top: 1625px;
}
.pork-hr-right{
    position: absolute;
    right: 150px;
    top: 1625px;
}
/* communal styles */
#cover-text-poultry, #cover-text-pork,#cover-text-beef, #cover-text-lamb{
    border: 2px solid black;
    text-align: center;
    position: absolute;
    background-color: rgba(65, 64, 64, 0.8);
    color: #fafafa;
    z-index: 3;  
}
#poultry-image, #pork-image, #cover-image-lamb, #cover-image-beef{
    width: 450px;
    height: 250px;
    border: 5px solid black;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 2;

}
hr{
    width: 450px;
    height: 2px;
    color: black;
    background-color: black;
}
